header {
   font-size: 40px;
   font-weight: bolder;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color:cornflowerblue;
   /*background-color:lightgray;*/
   text-align: center;
   margin: 0 auto;
   width: 100%;
   padding: 5px;
   /*border:2px solid black;*/
}

/* #medDisplay { //this is from testing how to display list of meds from localStorage
  visibility: visible;
  background-color: green;
} */

body {
  background-image: url("https://www.clipartkey.com/mpngs/m/17-174670_doctor-of-symbol-as-caduceus-medicine-logo-clipart.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  /*background-color: lightgray;*/
}

/*.today {
   text-align: center;
   font-size: 30px;
   font-weight: bold;
   font-family: monospace;
   background-color: lightgray;
}*/
 
.medinput {
   width: 250px;
   height: 40px;
   border-radius: 10px;
   /* margin-left: 35%; */
   font-size: 20px;
   visibility: hidden;
   border-radius: 25px;
}

/* #medInput {
  visibility: hidden
} */
 
.button {
	cursor: pointer;
	position: relative;
	padding: 2.5rem 7.5rem;
	border-radius: 3.75rem;
	line-height: 2.5rem;
	font-size: 2rem;
  font-weight: 600;
  visibility: hidden;
	
	border: 1px solid #012880;
	background-image: linear-gradient(-180deg, #FF89D6 0%, #C01F9E 100%);
	box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
							0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
							0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
							0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}

.button span {
	color: transparent;
	background-image: linear-gradient(0deg, #EE82DA 0%, #FEFAFD 100%);
	-webkit-background-clip: text;
	background-clip: text;
	filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
}

.button::before {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	top: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	opacity: 0.7;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

.button::after {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	bottom: 0.75rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	filter: blur(1px);
	opacity: 0.05;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

/* .button {
   width: 255px;
   height: 40px;
   border-radius: 10px; */
   /* margin-left: 35%; */
   /* font-size: 20px;
   transition-duration: 0.4s;
   visibility: hidden;
} */

.button:hover {
   background-color: rgb(14, 149, 252);
   color: white;
}
 
.container1 {
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
  height: fit-content;
  width: fit-content;
  background-color: cornflowerblue;
  border-radius: 25px;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius: 25px;
  
}

.container2 {
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
  height: fit-content;
  width: fit-content;
  background-color: cornflowerblue;
  border-radius: 25px;
}

.container3 {
  position: absolute;
  top: 0;
  right: 0;
  text-align: justify;
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
  height: fit-content;
  width: 20%;
  background-color: cornflowerblue;
  border-radius: 25px;
}

.med-display {
  margin: 20px;
  border: 2px solid black;
  background-color: cornflowerblue;
  display: none;
  padding: 5px;
  height: fit-content;
  width: fit-content;
  border-radius: 25px;
}

.usage {
  margin: 1px;
  border: 2px solid black;
  background-color: white;
  padding: 5px;
  width: 500px;
  border-radius: 25px;
}

.reactions {
  margin: 1px;
  border: 2px solid black;
  background-color: white;
  padding: 5px;
  width: 500px;
  border-radius: 25px;
}

.warning {
  margin: 1px;
  border: 2px solid black;
  background-color: white;
  padding: 5px;
  width: 500px;
  border-radius: 25px;
}

.content {
  max-height: 300px;
  overflow-y: scroll;
}

@media screen and (max-width: 711px) {

  .container3{
  position: static;
  margin: 0 20px;
  width: 100%;
  }
}

@media screen and (max-width: 660px) {

  .container3{
    top: 70px;
  }
}