header {
   font-size: 40px;
   font-weight: bolder;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color:cornflowerblue;
   /*background-color:lightgray;*/
   text-align: center;
   margin: 0 auto;
   width: 100%;
   padding: 5px;
   /*border:2px solid black;*/
}

/* #medDisplay { //this is from testing how to display list of meds from localStorage
  visibility: visible;
  background-color: green;
} */

body {
  background-image: url("https://www.clipartkey.com/mpngs/m/17-174670_doctor-of-symbol-as-caduceus-medicine-logo-clipart.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  /*background-color: lightgray;*/
}

/*.today {
   text-align: center;
   font-size: 30px;
   font-weight: bold;
   font-family: monospace;
   background-color: lightgray;
}*/
 
.medinput {
   width: 250px;
   height: 40px;
   border-radius: 10px;
   /* margin-left: 35%; */
   font-size: 20px;
   visibility: hidden;
   border-radius: 25px;
}

/* #medInput {
  visibility: hidden
} */
 
.button {
   width: 255px;
   height: 40px;
   border-radius: 10px;
   /* margin-left: 35%; */
   font-size: 20px;
   transition-duration: 0.4s;
   visibility: hidden;
}

.button:hover {
   background-color: rgb(14, 149, 252);
   color: white;
}
 
.container1 {
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
  height: fit-content;
  width: fit-content;
  background-color: cornflowerblue;
  border-radius: 25px;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius: 25px;
  
}

.container2 {
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
  height: fit-content;
  width: fit-content;
  background-color: cornflowerblue;
  border-radius: 25px;
}

.med-display {
  margin: 20px;
  border: 2px solid black;
  background-color: cornflowerblue;
  display: none;
  padding: 5px;
  height: fit-content;
  width: fit-content;
  border-radius: 25px;
}

.usage {
  margin: 1px;
  border: 2px solid black;
  background-color: white;
  padding: 5px;
  width: 500px;
  border-radius: 25px;
}

.reactions {
  margin: 1px;
  border: 2px solid black;
  background-color: white;
  padding: 5px;
  width: 500px;
  border-radius: 25px;
}

.warning {
  margin: 1px;
  border: 2px solid black;
  background-color: white;
  padding: 5px;
  width: 500px;
  border-radius: 25px;
}